
html {
	font-family: verdana,arial,sans-serif;
}
ul, ol {
	padding: 0px;
	margin: 0px;
}
section {
	margin: 40px 0;
}
footer{
	margin-top: 50px;
}

.container {
  margin: 0 auto;
  width: 720px;
}

.page-header {
	text-align: right;
}

.nav {
	height: 40px;
	width: 720px;
}

	.nav li {
			display: inline;
		    float: left;
	}

	.nav a {
		    display: block;
		    width: 120px;
	}

.table {
	width: 720px;
	color:#333333;
	border-width: 1px;
	border-color: #ccc;
	border-collapse: collapse;
}
	.table th {
		background-color: #ddd;
		border-width: 1px;
		padding: 8px;
		border-style: solid;
		border-color: #ccc;
	}
	.table tr {
		/*background-color:#ddd;*/
	}
	.table td {
		border-width: 1px;
		padding: 8px;
		border-style: solid;
		border-color: #ccc;
	}